In [1]:
import pandas as pd

In [2]:
name_list = ['杨溢','朱绯绯','樊雪','余捷','王翾','朱燕','乐冰清','陈超','于坤','邱爽','胡斅','曹田野','杨僖','管庆涛','代靖','唐梦','张丽娟','孙上然','陈婧','陈潇然','廖渡洋','刘运嘉']

In [10]:
df = pd.read_excel('./test1.xlsx',dtype=str)
df = df[df['姓名'].isin(name_list)]
df = df.drop(df[df.任务=='RST'].index)
df[['起始日期','截止日期']] = df[['起始日期','截止日期']].astype('datetime64[D]')
df = df.groupby(['员工号','姓名','起始日期']).agg(截止日期=("截止日期", "max"),始发站=('始发站', lambda x: ",".join(x.unique())),到达站=('到达站', lambda x: ",".join(x.unique())))
df.reset_index(inplace=True)
df['航线'] = df['始发站'].str.cat(df['到达站'],sep=',')
def map_e(x):
    y = ' '.join(set(x.split(sep=",")))
    return  y
df['航线']=df['航线'].map(map_e)
del df['始发站']
del df['到达站']
df['天数'] = df['截止日期']-df['起始日期']
df['天数'] = df['天数'].map(lambda x:x.days+1)

In [11]:
df

            员工号  姓名       起始日期       截止日期           航线  天数
0    0000030717  于坤 2019-06-04 2019-06-04      CTU PVG   1
1    0000030717  于坤 2019-06-05 2019-06-05      CTU CGQ   1
2    0000030717  于坤 2019-06-12 2019-06-12      CTU KHG   1
3    0000030717  于坤 2019-06-19 2019-06-19  CTU DOY CGO   1
4    0000030717  于坤 2019-06-22 2019-06-22      CTU HTN   1
..          ...  ..        ...        ...          ...  ..
175  0000052251  陈婧 2019-06-21 2019-06-22      PEK LJG   2
176  0000052251  陈婧 2019-06-22 2019-06-22      PEK CTU   1
177  0000052251  陈婧 2019-06-27 2019-06-27      SHE CTU   1
178  0000052251  陈婧 2019-06-28 2019-06-28      KTM CTU   1
179  0000052251  陈婧 2019-06-29 2019-06-29      CTU KRY   1

[180 rows x 6 columns]